# general
NODE_ENV=development
PORT=3000
HOST_BASE_URL=http://localhost:3000
PUBLIC_MENU_BASE_URL=http://localhost:3000

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.0.1:5173,http://127.0.0.1:5174,http://localhost:3000,http://192.168.*,http://172.*

# DB (MySQL)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=secret
DB_NAME=rasops_qr

# JWT
JWT_SECRET=change_this_secret

# QR
QR_OUTPUT_DIR=./public/qrcodes

# SMTP (optional)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
